venv/**
*.pyc
generated_data/**
*events.out.tfevents.*.*gi
**/__pycache__/**
/src/**/summary
/src/stupidBaseline_1/generated_data/**
wwf_data_v1
**/.ipynb_checkpoints/**
**/stupidBaseline_1/generated_data_b1/**

